<!doctype html>
<html>
<head>
    <title>
        Distilled tech test
    </title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<header>
    <h1>Distilled SCH Beer Application</h1>
</header>
<section>
    {% block content %}{% endblock %}
</section>
<footer>
    {% include 'partials/search_form.html.twig' %}
</footer>
</body>
</html>
