{% extends 'base.html.twig' %}


{% block content %}
    <article>
        <div class="flex-item">
            <h3>Beer name here</h3>
            <img src="https://placeimg.com/400/400/any" alt="beer pic here">
        </div>
        <div class="flex-item">
            <p>Beer Description</p>
            <a href="#">Another beer</a>
            <a href="#">More from this brewery</a>
        </div>
    </article>

{% endblock %}